::-webkit-scrollbar{
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  box-sizing: border-box;
  /* background-color: black; */
  background-image: url("https://i.pinimg.com/originals/9f/2e/e6/9f2ee60cc592305f22bf2346848e06f6.jpg");
  color: #D2D2D2;
  background-size: cover;
  margin-bottom: 20px;
}

/* All pages */

.page-header {
  text-align: center;
}

.page-header h1 {
  display: inline-block;
  padding: 20px;
  border: 1px solid #D2D2D2;
  border-radius: 20px;
  background-color: #67D3F3;
  color: #D2D2D2;
  text-shadow: 0 0 10px black;
  background: linear-gradient(#354E7C, #121F31, #354E7C);
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-main {
  border: 1px solid white;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
  background-color: #D2D2D2;
  border-radius: 20px;
  background-color: #121F31;
  /* background: linear-gradient(45deg, #121F31, #354E7C, #121F31); */
}

/* About page */

#about-page .page-main {
  width: 80%;
}


#about-page .page-main .picture {
  width: 33%;
}

#about-page .page-main .profile-picture {
  background-image: url("./images/profile_picture.jpeg");
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px 0 0 20px;
  height: 100%;
  background-size: cover;
}

#about-page .page-main .text {
  border-radius: 0 20px 20px 0;
  background-color: #354E7C;
  padding: 20px;
  width: 66%;
  height: 10%;
}

#about-page .page-main .text p{
  text-align: justify;
}

/* Contact page */

#contact-page .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#contact-page .contact * {
  margin: 5px;
}

#contact-page .contact .info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#contact-page .contact .info a {
  color: #67D3F3;
}

#contact-page .page-main .contact-list {
  border-radius: 20px;
  background-color: #354E7C;
  padding: 20px;
  height: 10%;
}

/* Project card */

.project-card {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid #D2D2D2;
  border-radius: 20px;
  background-color: #354E7C;
  margin-top: 20px;
  min-width: 256px;
  justify-content: space-between;
}

.project-card .card-miniature {
  width: 100%;
}

.project-card .card-infos {
  padding: 0 20px 20px 20px;
}

.project-card button {
  padding: 20px;
  text-align: center;
  background-color: #d2d2d2;
  border-radius: 0 0 20px 20px;
  width: 100%;
  cursor: pointer;
  border-style: none;
  transition: 0.5s;
}

.project-card button:hover {
  background-color: #67D3F3;
}

.project-card img {
  width: 100%;
  border-radius: 20px 20px 0 0 ;
}

/* Portfolio page */

#portfolio-page .page-main {
  width: 90%;
  flex-wrap: wrap;
  padding-top: 0;
  justify-content: space-evenly;
}