::-webkit-scrollbar {
  display: none;
}

#nav-bar .dropdown {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  box-sizing: border-box;
  background-image: url('https://i.pinimg.com/originals/9f/2e/e6/9f2ee60cc592305f22bf2346848e06f6.jpg');
  color: #d2d2d2;
  background-size: cover;
  margin-bottom: 20px;
}

/* All pages */

.page-header {
  text-align: center;
}

.page-header h1 {
  display: inline-block;
  padding: 20px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  background-color: #67d3f3;
  color: #d2d2d2;
  text-shadow: 0 0 10px black;
  background: linear-gradient(#354e7c, #121f31, #354e7c);
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-main {
  border: 1px solid white;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
  background-color: #d2d2d2;
  border-radius: 5px;
  background-color: #121f31;
}

/* Home page */

#home-page .home-main {
  display: flex;
  height: calc(90vh - 86.813px);
  align-items: center;
}

#home-page .home-main section {
  background-color: #040a25;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 10px #67d3f3;
}

#home-page .home-links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#home-page .home-links button {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  border-style: none;
  transition: 0.5s;
  font-size: large;
  background-color: #0177d9;
  color: #d2d2d2;
}

#home-page .home-links button:hover {
  background-color: #67d3f3;
  color: #040a25;
}

/* About page */

#about-page .page-main {
  width: 80%;
}

#about-page .page-main .picture {
  width: 33%;
}

#about-page .page-main .profile-picture {
  background-image: url('./images/profile_picture.jpeg');
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px 0 0 5px;
  height: 100%;
  background-size: cover;
}

#about-page .page-main .text {
  border-radius: 0 5px 5px 0;
  background-color: #354e7c;
  padding: 20px;
  width: 66%;
  height: 10%;
}

#about-page .page-main .text p {
  text-align: justify;
}

/* Contact page */

#contact-page .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#contact-page .contact * {
  margin: 5px;
}

#contact-page .contact .info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#contact-page .contact .info a {
  color: #67d3f3;
}

#contact-page .page-main .contact-list {
  border-radius: 5px;
  background-color: #354e7c;
  padding: 20px;
  height: 10%;
}

#contact-page #linkedin-logo {
  background-color: #d2d2d2;
  border-radius: 5px;
  border: 1px solid #67d3f3;
}

/* Project card */

.project-card {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  background-color: #354e7c;
  margin-top: 20px;
  min-width: 256px;
  justify-content: space-between;
}

.project-card .card-miniature {
  width: 100%;
}

.project-card .card-infos {
  padding: 0 20px 20px 20px;
}

.project-card button {
  padding: 20px;
  text-align: center;
  border-radius: 0 0 5px 5px;
  width: 100%;
  cursor: pointer;
  border-style: none;
  transition: 0.5s;
  background-color: #0177d9;
  color: #d2d2d2;
  font-size: large;
}

.project-card button:hover {
  background-color: #67d3f3;
  color: #040a25;
}

.project-card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

/* Portfolio page */

#portfolio-page .page-main {
  width: 80%;
  flex-wrap: wrap;
  padding-top: 0;
  justify-content: space-evenly;
  flex-direction: column;
}

#portfolio-page .projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#portfolio-page section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#portfolio-page h2 {
  /* border-left: 1px solid #D2D2D2;
  border-bottom: 1px solid #D2D2D2; */
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 10px #d2d2d2;
}

#portfolio-page section.projects-container {
  padding: 20px;
}

/* Project page */

#project-page .page-main {
  width: 80%;
}

#project-page .page-main {
  display: flex;
  flex-direction: column;
}

#project-page .project-demonstrations {
  display: flex;
  justify-content: space-evenly;
}

#project-page .project-info {
  display: flex;
  justify-content: space-around;
}

#project-page .project-info p {
  text-align: justify;
}

#project-page .project-demonstrations div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#project-page .coments {
  width: 60%;
}

#project-page .links-container {
  display: flex;
  flex-direction: column;
  width: 20%;
}

#project-page .links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  height: calc(100% - 67.84px);
  height: 100%;
}

#project-page .links a {
  width: 100%;
}

#project-page .links button {
  width: 100%;
  height: 100%;
}

#project-page button {
  border-radius: 5px;
  cursor: pointer;
  border-style: none;
  transition: 0.5s;
  outline: none;
  background-color: #0177d9;
  color: #d2d2d2;
  font-size: large;
  padding: 20px;
}

#project-page button:hover {
  background-color: #67d3f3;
  color: #040a25;
}

#project-page .gif-mobile img,
#project-page .gif-desktop img {
  height: 50vh;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
}

#project-page ul {
  padding: 0;
  list-style: none;
}

#project-page ul li {
  padding-left: 20px;
}

@media screen and (max-width: 1024px) {
  #nav-bar {
    flex-direction: column;
  }

  #nav-bar .nav-name {
    text-align: center;
    width: 100vw;
  }

  #nav-bar .nav-name h1 {
    font-size: large;
  }

  #nav-bar .nav-links {
    width: 100%;
  }

  #nav-bar .nav-social-links {
    display: none;
  }

  #project-page .project-demonstrations {
    flex-direction: column;
  }

  #about-page .page-main {
    flex-direction: column;
  }

  #about-page .picture {
    display: none;
  }

  #about-page .profile-picture img {
    width: 100%;
  }

  #about-page .page-main .text {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
  }
}

@media screen and (max-width: 425px) {
  #nav-bar {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #nav-bar .nav-name {
    display: inline-block;
    text-align: right;
  }

  #nav-bar .nav-name h1 {
    display: inline-block;
  }

  #nav-bar .nav-links {
    display: none;
  }

  #nav-bar .dropdown {
    position: relative;
    display: inline-block;
  }

  #nav-bar .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    overflow: scroll;
    top: 74px;
  }

  #nav-bar .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }

  #nav-bar .dropdown-content a {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border-style: none;
    transition: 0.5s;
    background-color: #121f31;
    color: #d2d2d2;
    text-decoration: none;
    border: 1px solid #d2d2d2;
  }

  #home-page #nav-bar {
    background-color: #121f31;
  }
  
  #home-page .home-main section {
    width: 90vw;
    box-sizing: border-box;
  }

  #home-page .home-main .home-links {
    flex-direction: column;
  }

  #home-page .home-main .home-links a {
    margin: 5px;
  }

  #project-page .gif-desktop img {
    width: 100%;
    height: auto;
  }

  #project-page img {
    margin-bottom: 15px;
  }

  #project-page .project-info {
    flex-direction: column-reverse;
  }

  #project-page .project-info .links-container {
    width: 100%;
  }

  #project-page .project-info .links-container a {
    margin-top: 5px;
  }

  #project-page .project-info .coments {
    width: 100%;
  }

  #project-page .project-info .coments button {
    width: 100%;
  }

  #contact-page .page-main .contact-list {
    padding: 0;
  }

  #contact-page .page-main,
  #about-page .page-main {
    width: 90vw;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  #portfolio-page .page-main {
    margin: 0;
  }

  #portfolio-page .page-main .projects-container {
    padding: 0;
  }

  #nav-bar .nav-name h1 {
    font-size: medium;
  }
}
